
body{background-color:#66b2ff; text-align:center;}
#Grid{margin-left: 35%; margin-top: 10%;}
th {background-color: silver; text-align:center;}
th, td {padding: 10px;text-align: left;}
table {border-collapse: collapse;}
table, th, td {border: 1px solid black; text-align:center;}
